html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "BeVietnamPro-Variable", sans-serif;
  font-weight: 100;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: #191919;
}

main {
  overflow-x: hidden;
}

h1 {
  font-weight: 100;
  font-size: 2em;
}

h2 {
  font-weight: 300;
  font-size: 1.7em;
}

strong {
  font-weight: 400;
}

section {
  min-height: 100vh;
}

a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  max-width: 100%;
}

p {
  font-weight: 300;
  line-height: 1.3;
}

section {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.btn {
  background-color: #1f1f1f;
  border: none;
  color: #eeeeee;
  padding: 0.6em 1.3em;
  border-radius: 4px;
  transition: all 0.2s;
}
.btn:hover {
  background-color: #424242;
}

.front-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url("../img/pexels-pixabay-50570.jpg");
  background-size: cover;
}
.front-page__text {
  text-align: center;
  width: min(800px, 90%);
  color: white;
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 2px rgba(255, 255, 255, 0.115);
}
.front-page__text p {
  width: 90%;
  margin: auto;
  padding-bottom: 1.6em;
}
.front-page__arrow-down {
  text-align: center;
  color: #ffffff;
}
.front-page__arrow-down img {
  width: 32px;
}
.front-page__footer-ruleta {
  position: absolute;
  bottom: -6px;
}

@keyframes salto {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
}
.info {
  background-image: url("../img/fondo-ruleta.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.mt-3 {
  margin-top: 3em;
}

.mb-3 {
  margin-bottom: 3em;
}

.roulette-info {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  min-height: 100vh;
}
.roulette-info #roulette-indicator {
  position: absolute;
  bottom: 47vh;
  right: 305px;
  width: 44px;
  z-index: 323324;
  transform: rotate(90deg);
}
.roulette-info__text {
  color: #fff;
  padding: 3em 1em 3em 1em;
  margin-left: 1em;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(4px) brightness(80%);
          backdrop-filter: blur(4px) brightness(80%);
  transition: all 1s ease;
  display: inline-block;
  text-align: start;
  margin: auto;
  max-width: 500px;
  transform: translateX(10px);
}
.roulette-info__buttons {
  padding: 1em;
}
.roulette-info__buttons button {
  margin-block: 0.5em;
  margin-right: 0.2em;
}

@media screen and (max-width: 1000px) {
  .roulette-info #roulette-indicator {
    bottom: 573px;
    right: calc(50% - 20px);
    width: 40px;
    transform: rotate(180deg);
  }
}
@media screen and (max-width: 521px) {
  .roulette-info #roulette-indicator {
    left: 240px;
  }
}
.roulette {
  left: 380px;
  position: relative;
  z-index: 1;
  transform: rotate(270deg);
  transition: all 1s ease-in-out;
}
.roulette__container {
  position: relative;
  display: grid;
  width: 700px;
  height: 700px;
  border: 10px solid #cda658;
  border-radius: 50%;
  text-align: center;
  margin: auto;
}
.roulette__inner-element {
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
}
.roulette__inner-element:nth-child(1) {
  background-color: rgba(246, 246, 246, 0.4431372549);
  color: #191919;
}
.roulette__inner-element:nth-child(2) {
  background-color: rgba(170, 21, 10, 0.3607843137);
  color: #f9f9f9;
}
.roulette__inner-element:nth-child(3) {
  background-color: rgba(10, 165, 170, 0.3607843137);
  color: #f9f9f9;
}
.roulette__inner-element:nth-child(4) {
  background-color: rgba(23, 170, 10, 0.3607843137);
  color: #f9f9f9;
}
.roulette__inner-element:nth-child(5) {
  background-color: rgba(244, 186, 13, 0.3607843137);
  color: #f9f9f9;
}
.roulette__inner-element:nth-child(6) {
  background-color: rgba(229, 12, 218, 0.3607843137);
  color: #f9f9f9;
}
.roulette__inner-element:nth-child(7) {
  background-color: rgba(32, 10, 226, 0.3607843137);
  color: #f9f9f9;
}
.roulette__inner-element:nth-child(8) {
  background-color: rgba(255, 0, 0, 0.3607843137);
  color: #f9f9f9;
}
.roulette__inner-element:nth-child(9) {
  background-color: rgba(112, 9, 246, 0.3607843137);
  color: #f9f9f9;
}
.roulette__inner-element:nth-child(10) {
  background-color: rgba(217, 228, 10, 0.3607843137);
  color: #f9f9f9;
}
.roulette__inner-element:nth-child(11) {
  background-color: rgba(8, 241, 148, 0.3607843137);
  color: #f9f9f9;
}
.roulette__inner-element:nth-child(12) {
  background-color: rgba(69, 22, 255, 0.3607843137);
  color: #f9f9f9;
}
.roulette__inner-element:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(37% 0, 50% 50%, 0 0);
          clip-path: polygon(37% 0, 50% 50%, 0 0);
  transform-origin: 50% 100%;
  border: solid 1px #a1731f;
  border-radius: 50%;
  transform-origin: center;
  transform: rotate(30deg);
}
.roulette__inner-element:nth-child(1) span {
  position: absolute;
  left: 185px;
  transform: rotate(59deg);
  top: 96px;
  font-size: 12px;
  transform-origin: top;
  font-weight: 300;
}
.roulette__inner-element:nth-child(2) {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(37% 0, 50% 50%, 0 0);
          clip-path: polygon(37% 0, 50% 50%, 0 0);
  transform-origin: 50% 100%;
  border: solid 1px #a1731f;
  border-radius: 50%;
  transform-origin: center;
  transform: rotate(60deg);
}
.roulette__inner-element:nth-child(2) span {
  position: absolute;
  left: 185px;
  transform: rotate(59deg);
  top: 96px;
  font-size: 12px;
  transform-origin: top;
  font-weight: 300;
}
.roulette__inner-element:nth-child(3) {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(37% 0, 50% 50%, 0 0);
          clip-path: polygon(37% 0, 50% 50%, 0 0);
  transform-origin: 50% 100%;
  border: solid 1px #a1731f;
  border-radius: 50%;
  transform-origin: center;
  transform: rotate(90deg);
}
.roulette__inner-element:nth-child(3) span {
  position: absolute;
  left: 185px;
  transform: rotate(59deg);
  top: 96px;
  font-size: 12px;
  transform-origin: top;
  font-weight: 300;
}
.roulette__inner-element:nth-child(4) {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(37% 0, 50% 50%, 0 0);
          clip-path: polygon(37% 0, 50% 50%, 0 0);
  transform-origin: 50% 100%;
  border: solid 1px #a1731f;
  border-radius: 50%;
  transform-origin: center;
  transform: rotate(120deg);
}
.roulette__inner-element:nth-child(4) span {
  position: absolute;
  left: 185px;
  transform: rotate(59deg);
  top: 96px;
  font-size: 12px;
  transform-origin: top;
  font-weight: 300;
}
.roulette__inner-element:nth-child(5) {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(37% 0, 50% 50%, 0 0);
          clip-path: polygon(37% 0, 50% 50%, 0 0);
  transform-origin: 50% 100%;
  border: solid 1px #a1731f;
  border-radius: 50%;
  transform-origin: center;
  transform: rotate(150deg);
}
.roulette__inner-element:nth-child(5) span {
  position: absolute;
  left: 185px;
  transform: rotate(59deg);
  top: 96px;
  font-size: 12px;
  transform-origin: top;
  font-weight: 300;
}
.roulette__inner-element:nth-child(6) {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(37% 0, 50% 50%, 0 0);
          clip-path: polygon(37% 0, 50% 50%, 0 0);
  transform-origin: 50% 100%;
  border: solid 1px #a1731f;
  border-radius: 50%;
  transform-origin: center;
  transform: rotate(180deg);
}
.roulette__inner-element:nth-child(6) span {
  position: absolute;
  left: 185px;
  transform: rotate(59deg);
  top: 96px;
  font-size: 12px;
  transform-origin: top;
  font-weight: 300;
}
.roulette__inner-element:nth-child(7) {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(37% 0, 50% 50%, 0 0);
          clip-path: polygon(37% 0, 50% 50%, 0 0);
  transform-origin: 50% 100%;
  border: solid 1px #a1731f;
  border-radius: 50%;
  transform-origin: center;
  transform: rotate(210deg);
}
.roulette__inner-element:nth-child(7) span {
  position: absolute;
  left: 185px;
  transform: rotate(59deg);
  top: 96px;
  font-size: 12px;
  transform-origin: top;
  font-weight: 300;
}
.roulette__inner-element:nth-child(8) {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(37% 0, 50% 50%, 0 0);
          clip-path: polygon(37% 0, 50% 50%, 0 0);
  transform-origin: 50% 100%;
  border: solid 1px #a1731f;
  border-radius: 50%;
  transform-origin: center;
  transform: rotate(240deg);
}
.roulette__inner-element:nth-child(8) span {
  position: absolute;
  left: 185px;
  transform: rotate(59deg);
  top: 96px;
  font-size: 12px;
  transform-origin: top;
  font-weight: 300;
}
.roulette__inner-element:nth-child(9) {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(37% 0, 50% 50%, 0 0);
          clip-path: polygon(37% 0, 50% 50%, 0 0);
  transform-origin: 50% 100%;
  border: solid 1px #a1731f;
  border-radius: 50%;
  transform-origin: center;
  transform: rotate(270deg);
}
.roulette__inner-element:nth-child(9) span {
  position: absolute;
  left: 185px;
  transform: rotate(59deg);
  top: 96px;
  font-size: 12px;
  transform-origin: top;
  font-weight: 300;
}
.roulette__inner-element:nth-child(10) {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(37% 0, 50% 50%, 0 0);
          clip-path: polygon(37% 0, 50% 50%, 0 0);
  transform-origin: 50% 100%;
  border: solid 1px #a1731f;
  border-radius: 50%;
  transform-origin: center;
  transform: rotate(300deg);
}
.roulette__inner-element:nth-child(10) span {
  position: absolute;
  left: 185px;
  transform: rotate(59deg);
  top: 96px;
  font-size: 12px;
  transform-origin: top;
  font-weight: 300;
}
.roulette__inner-element:nth-child(11) {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(37% 0, 50% 50%, 0 0);
          clip-path: polygon(37% 0, 50% 50%, 0 0);
  transform-origin: 50% 100%;
  border: solid 1px #a1731f;
  border-radius: 50%;
  transform-origin: center;
  transform: rotate(330deg);
}
.roulette__inner-element:nth-child(11) span {
  position: absolute;
  left: 185px;
  transform: rotate(59deg);
  top: 96px;
  font-size: 12px;
  transform-origin: top;
  font-weight: 300;
}
.roulette__inner-element:nth-child(12) {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(37% 0, 50% 50%, 0 0);
          clip-path: polygon(37% 0, 50% 50%, 0 0);
  transform-origin: 50% 100%;
  border: solid 1px #a1731f;
  border-radius: 50%;
  transform-origin: center;
  transform: rotate(360deg);
}
.roulette__inner-element:nth-child(12) span {
  position: absolute;
  left: 185px;
  transform: rotate(59deg);
  top: 96px;
  font-size: 12px;
  transform-origin: top;
  font-weight: 300;
}
.roulette .roulette__inner-element:nth-child(11) span {
  position: absolute;
  left: 154px;
  transform: rotate(59deg);
  top: 120px;
  font-size: 12px;
  transform-origin: top;
  font-weight: 300;
}
.roulette .roulette__inner-element:nth-child(12) span {
  position: absolute;
  left: 165px;
  transform: rotate(59deg);
  top: 118px;
  font-size: 12px;
  transform-origin: top;
  font-weight: 300;
}
.roulette__footer {
  position: absolute;
  bottom: -6px;
  left: calc(50% - 352px);
}

@media screen and (max-width: 1000px) {
  .roulette-info {
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  .roulette-info__text {
    margin-block: 6em;
    margin-inline: 1em;
  }
  .roulette {
    margin: auto;
    left: 0;
    transform: rotate(0deg);
    margin-bottom: 6em;
  }
  .roulette__container {
    width: 500px;
    height: 500px;
  }
  .roulette__inner-element:nth-child(1) {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(37% 0, 50% 50%, 0 0);
            clip-path: polygon(37% 0, 50% 50%, 0 0);
    transform-origin: 50% 100%;
    border: solid 1px #fff;
    border-radius: 50%;
    transform-origin: center;
    transform: rotate(30deg);
  }
  .roulette__inner-element:nth-child(1) span {
    left: 128px;
    top: 88px;
    transform-origin: top;
  }
  .roulette__inner-element:nth-child(2) {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(37% 0, 50% 50%, 0 0);
            clip-path: polygon(37% 0, 50% 50%, 0 0);
    transform-origin: 50% 100%;
    border: solid 1px #fff;
    border-radius: 50%;
    transform-origin: center;
    transform: rotate(60deg);
  }
  .roulette__inner-element:nth-child(2) span {
    left: 128px;
    top: 88px;
    transform-origin: top;
  }
  .roulette__inner-element:nth-child(3) {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(37% 0, 50% 50%, 0 0);
            clip-path: polygon(37% 0, 50% 50%, 0 0);
    transform-origin: 50% 100%;
    border: solid 1px #fff;
    border-radius: 50%;
    transform-origin: center;
    transform: rotate(90deg);
  }
  .roulette__inner-element:nth-child(3) span {
    left: 128px;
    top: 88px;
    transform-origin: top;
  }
  .roulette__inner-element:nth-child(4) {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(37% 0, 50% 50%, 0 0);
            clip-path: polygon(37% 0, 50% 50%, 0 0);
    transform-origin: 50% 100%;
    border: solid 1px #fff;
    border-radius: 50%;
    transform-origin: center;
    transform: rotate(120deg);
  }
  .roulette__inner-element:nth-child(4) span {
    left: 128px;
    top: 88px;
    transform-origin: top;
  }
  .roulette__inner-element:nth-child(5) {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(37% 0, 50% 50%, 0 0);
            clip-path: polygon(37% 0, 50% 50%, 0 0);
    transform-origin: 50% 100%;
    border: solid 1px #fff;
    border-radius: 50%;
    transform-origin: center;
    transform: rotate(150deg);
  }
  .roulette__inner-element:nth-child(5) span {
    left: 128px;
    top: 88px;
    transform-origin: top;
  }
  .roulette__inner-element:nth-child(6) {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(37% 0, 50% 50%, 0 0);
            clip-path: polygon(37% 0, 50% 50%, 0 0);
    transform-origin: 50% 100%;
    border: solid 1px #fff;
    border-radius: 50%;
    transform-origin: center;
    transform: rotate(180deg);
  }
  .roulette__inner-element:nth-child(6) span {
    left: 128px;
    top: 88px;
    transform-origin: top;
  }
  .roulette__inner-element:nth-child(7) {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(37% 0, 50% 50%, 0 0);
            clip-path: polygon(37% 0, 50% 50%, 0 0);
    transform-origin: 50% 100%;
    border: solid 1px #fff;
    border-radius: 50%;
    transform-origin: center;
    transform: rotate(210deg);
  }
  .roulette__inner-element:nth-child(7) span {
    left: 128px;
    top: 88px;
    transform-origin: top;
  }
  .roulette__inner-element:nth-child(8) {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(37% 0, 50% 50%, 0 0);
            clip-path: polygon(37% 0, 50% 50%, 0 0);
    transform-origin: 50% 100%;
    border: solid 1px #fff;
    border-radius: 50%;
    transform-origin: center;
    transform: rotate(240deg);
  }
  .roulette__inner-element:nth-child(8) span {
    left: 128px;
    top: 88px;
    transform-origin: top;
  }
  .roulette__inner-element:nth-child(9) {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(37% 0, 50% 50%, 0 0);
            clip-path: polygon(37% 0, 50% 50%, 0 0);
    transform-origin: 50% 100%;
    border: solid 1px #fff;
    border-radius: 50%;
    transform-origin: center;
    transform: rotate(270deg);
  }
  .roulette__inner-element:nth-child(9) span {
    left: 128px;
    top: 88px;
    transform-origin: top;
  }
  .roulette__inner-element:nth-child(10) {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(37% 0, 50% 50%, 0 0);
            clip-path: polygon(37% 0, 50% 50%, 0 0);
    transform-origin: 50% 100%;
    border: solid 1px #fff;
    border-radius: 50%;
    transform-origin: center;
    transform: rotate(300deg);
  }
  .roulette__inner-element:nth-child(10) span {
    left: 128px;
    top: 88px;
    transform-origin: top;
  }
  .roulette__inner-element:nth-child(11) {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(37% 0, 50% 50%, 0 0);
            clip-path: polygon(37% 0, 50% 50%, 0 0);
    transform-origin: 50% 100%;
    border: solid 1px #fff;
    border-radius: 50%;
    transform-origin: center;
    transform: rotate(330deg);
  }
  .roulette__inner-element:nth-child(11) span {
    left: 128px;
    top: 88px;
    transform-origin: top;
  }
  .roulette__inner-element:nth-child(12) {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(37% 0, 50% 50%, 0 0);
            clip-path: polygon(37% 0, 50% 50%, 0 0);
    transform-origin: 50% 100%;
    border: solid 1px #fff;
    border-radius: 50%;
    transform-origin: center;
    transform: rotate(360deg);
  }
  .roulette__inner-element:nth-child(12) span {
    left: 128px;
    top: 88px;
    transform-origin: top;
  }
  .roulette__footer {
    width: 390px;
    left: calc(50% - 195px);
  }
  .roulette .roulette__inner-element:nth-child(11) span {
    position: absolute;
    left: 111px;
    transform: rotate(59deg);
    top: 100px;
    font-size: 12px;
    transform-origin: top;
    font-weight: 300;
  }
  .roulette .roulette__inner-element:nth-child(12) span {
    position: absolute;
    left: 107px;
    transform: rotate(59deg);
    top: 93px;
    font-size: 12px;
    transform-origin: top;
    font-weight: 300;
  }
}
.information {
  background-image: url("../img/fondo-ruleta.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.information::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.5); /* Color blanco semitransparente */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.information__container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 211;
  position: relative;
  margin-bottom: 2em;
}
.information__container div {
  width: min(700px, 90%);
  display: inline;
  -webkit-backdrop-filter: blur(20px) brightness(60%);
          backdrop-filter: blur(20px) brightness(60%);
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 2px rgba(255, 255, 255, 0);
}
.information__container h2,
.information__container p {
  color: #ffffff;
  white-space: pre-line;
}
.information__footer {
  position: absolute;
  bottom: -4px;
  left: calc(50% - 352px);
  width: 698px;
  z-index: 342432;
}

@media screen and (max-width: 1000px) {
  .information__container div {
    margin-block: 3em 5em;
  }
  .information__footer {
    width: 390px;
    left: calc(50% - 195px);
  }
}/*# sourceMappingURL=style.css.map */